.pricingPageLayout {
	height: calc(100vh - 64px); // We substract 64px because of the Navbar which is fixed
}

.pricingPageContent {
	background: white;
}

.pricingPageContentFooter {
	height: 100px;
}
