.albumCardContainer {
	display: flex;
	flex-direction: column;
	padding: 10px;

	img, video, iframe {
		height: 350px;		
		width: auto;		
		object-fit: contain; // Keeps aspect ratio of the content
	}
}

.albumCardCoverContainer {
	overflow: hidden; /* In case the image exceeds max-height */
	display: flex; /* Using flex to center the image if needed */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.albumCardImg {
	margin: 5px; // So that the hover effect can be seen
	:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.albumCardTitle {	
	/* Optional: for better visual appearance */
	margin-top: 10px;

	word-wrap: break-word;	
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: large;	
	white-space: nowrap;
	text-overflow: ellipsis;
}
