.photographersLayout {
	height: 100vh;
}

.photographersPageSider {
	border-right: 1px solid #f0f0f0;
}

.ant-layout-sider-trigger {
	border-right: 1px solid #f0f0f0;
}

.photographersDetails {
	line-height: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.photographerDetailsText {
	padding-left: 24px;
}

.photographersDetailsImage {
	max-width: 100px;
	max-height: 100px;
	justify-content: center;
	object-fit: cover;
	padding-bottom: 5px;
}
